.info__caption {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  grid-area: caption;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 1023px) {
  .info__caption {
    text-align: center;
  }  
}

@media (max-width: 470px) {
  .info__caption {
    font-size: 14px;
  }
}