.popup__container {
  position: relative;
  box-sizing: border-box;
  align-self: center;
  margin: 0 auto;
}

@media (max-width: 470px) {
  .popup__container {
    margin: 0 19px;
    row-gap: 16px;
  }
}