.popup__container {
  display: grid;
  grid-template-columns: 430px 1fr;
  grid-template-areas: 
      ". button"
      "form .";
  column-gap: 9px;
  row-gap: 8px;
  box-sizing: border-box;
  align-self: center;
  padding-left: calc(32px + 9px);
  margin: 0 auto;
}

@media (max-width: 470px) {
  .popup__container {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin: 0 19px;
    row-gap: 16px;
    margin-top: 87px;
  }
}